.App {
  text-align: center;
}

.borderBottomBorderRight{
  min-width: 50px;
  min-height: 50px;
  border-bottom-style: solid;
  border-right-style: solid;
}

.borderRight {
  min-width: 50px;
  min-height: 50px;
  border-right-style: solid;
}

.borderBottom {
  min-width: 50px;
  min-height: 50px;
  border-bottom-style: solid;
}

.noBorder {
  height: 50px;
  width: 50px;
  border: none;
}

.table {
  border-spacing: 0;
}